{% extends 'base.html' %}
{% block title %} Users {% endblock %}

{% block content %}
<div class="container py-5">

  <div class="row g-5">

    <div class="col-md-6">
      <div class="card shadow-sm rounded-4">
        <div class="card-body">

          <h3 class="card-title mb-4">Sök efter användare</h3>

          <form method="post" action="{{ url_for('list_users') }}" class="mb-4">
            <input class="form-control mb-2" type="search" placeholder="Search users" name="search">
            <button class="btn btn-outline-success btn-sm" type="submit">
              Sök
            </button>
          </form>
          <ul class="list-unstyled">
            {% for user in users %}
            <li class="mb-2">
              <a href="{{ url_for('user_posts', username=user['username']) }}"
                class="btn btn-light border border-dark rounded-3 btn-sm text-start px-3 py-1"
                style="font-size: 0.9rem;">
                {{ user['username'] }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm rounded-4 h-100 text-center">
        <div class="card-body d-flex flex-column justify-content-center">

          <h3 class="card-title mb-3">Grupper</h3>

          <p class="text-muted mb-4">
            Gå med i grupper, skapa egna och diskutera med andra användare.
          </p>

          <a href="{{ url_for('groups') }}" class="btn btn-primary btn-lg rounded-4 align-self-center">
            Visa grupper
          </a>

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}